@import url("colors.css");


:root
{
	--Back : white;
	--color1: rgb(244, 247, 237);
	--color2: rgb(255, 207, 86);
	--color3: rgb(252, 111, 83);
	--color4: rgb(220, 247, 144);
	--color5: rgb(147, 196, 166);


	--FlashColor : rgb(0, 0, 0);






	--MenuTabFontSize : 20;

	--Primary: rgb(255, 255, 255);
	--Secondary: rgb(36, 36, 36);
	--Text: rgb(36, 36, 36);
	--TextInverted: rgb(255, 255, 255);
	--SpecialText: rgb(255, 255, 255);
	--Borders: rgb(36, 36, 36);
	--BordersInverted: rgb(36, 36, 36);

	--Title: rgb(36, 36, 36);

	--RadialInner: rgb(180, 180, 180);
	--RadialOuter: rgb(255, 255, 255);

	--BackgroundTop: rgb(255, 255, 255);
	--backgroundBottom: rgb(180, 180, 180);
	

	--Radialinrgb: 180, 180, 180;
	--Radialoutrgb: 255, 255, 255;

	--bgtoprgb: 255, 255, 255;
	--bgbottomrgb: 180, 180, 180;

	--CardColor: rgb(93, 93, 93);

	--Primaryrgb: 255, 255, 255;
	--Secondaryrgb: 36, 36, 36;
	--Cardrgb: 93, 93, 93;
	--BackgroundColorrgb1: 255, 255, 255 ;
	--BackgroundColorrgb2: 255, 255, 255 ;
}