.project-page-body
{
	display: block;
	flex: content;
	flex-wrap: wrap;
	flex-direction: column;
	background-color: white;

	font-family: monospace;

	width: 100vw;

	.code-segment
	{
		display: flex;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: row;

			.sub-segments
			{
				width: 50vw;
				height: 80vh;

				border: .25vh solid #999999;
				border-radius: 1vh;
			}

		.code-container
		{
			overflow: scroll;

			.shelf
			{

				background-color: #dadada;
				color: black;

				padding: .5vw;

				position: absolute;
			}

			pre
			{
				margin: 0px;
				.code
				{
					padding: 0px;
					padding-left: 1vw;
				}
			}
		}

		.code-description
		{
			background-color: #dadada;
			color: black;

			text-align: center;
		}
	}
}