.project-page-body
{
	display: block;
	flex: content;
	flex-wrap: wrap;
	flex-direction: column;
	background-color: white;

	font-family: monospace;

	width: 100vw;

	.code-segment
	{
		display: flex;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: row;

			.sub-segments
			{
				width: 50vw;
				height: 80vh;

				border: .25vh solid #999999;
				border-radius: 0vh;
			}

		.code-container
		{
			.shelf
			{
				background-color: #dadada;
				color: black;

				padding: .5vh;

				border-top-left-radius: inherit;
				border-top-right-radius: inherit;
			}

			.code
			{
				height: 77vh;
				overflow: scroll;

				border-bottom-left-radius: inherit;
				border-bottom-right-radius: inherit;

				pre
				{
					margin: 0px;
					code
					{
						padding: 3vh;

						span:hover
						{
							color: red;
						}
					}
				}
			}
		}

		.code-description
		{
			background-color: #dadada;
			color: black;

			text-align: center;

			overflow: scroll;
		}
	}
}