@import url("/CSS/colors.css");

* {
	box-sizing: content-box;
}

html {
	font-size: 1vw
}




/******************** Navigation bar ***********************/
.Shelf	{
	padding-top: 10vh;
	z-index: 100;
	position: absolute;
	display: block;
	width: 100vw;
	


	/*box-shadow: var(--Border1) 0px 0px 0px 2px inset ;*/

	transition: .3s cubic-bezier(.77,.12,.16,.95);
	
}

.Shelf.track {
	padding-top: 0vh;
	z-index: 100;
	position: fixed;
	display: block;
	width: 100vw;
	
	background-color: rgba(var(--Primaryrgb), 0.1);
	backdrop-filter: blur(5px);
	/*box-shadow: var(--Border1) 0px 0px 0px 2px inset ;*/
	border-bottom-color: var(--Borders);
	border-bottom-width: 0.1vh;
	border-bottom-style: solid;

	transition: .3s cubic-bezier(.77,.12,.16,.95);
	animation: topBarAnim .3s cubic-bezier(.77,.12,.16,.95);

}

@keyframes topBarAnim {

	0% {
		padding-top: 0vh;
		opacity: 0;
		transform: translateY(-5vh);
	}

	50% {

	}

	100% {
		opacity: 1;
		transform: translateY(0vh);
	}
}

.TopBar {
	z-index: 101;
	
	display: block;
	box-sizing: border-box;
	
	
	overflow:hidden;
	font-family: 'Helvetica Neue';
}


/******************** Menu tab format and click flash ***********************/
.MenuTab {
	border-bottom: 3px solid var(--color3);
	margin: 0 auto;
	box-sizing: border-box;
	width: fit-content;
	display: block;
	color: var(--Text);
	text-align: center;
	padding: 10px 45px;
	text-decoration: none;
	font-size: 1.5rem;


	background: linear-gradient(to bottom, rgba(var(--Primaryrgb),0) 50%, rgba(var(--Secondaryrgb), 1) 50%) top;
	background-size: 100% 200%;
	transition: .3s cubic-bezier(.77,.12,.16,.95);


}
.MenuTab-noHoverAfterClick {
	border-bottom: 3px solid var(--color3);
	margin: 0 auto;
	box-sizing: border-box;
	width: fit-content;
	display: block;

	color: var(--Text);
	text-align: center;
	padding: 10px 45px;
	text-decoration: none;
	font-size: 1.5rem;

	
	background-size: 100% 200%;
	transition: .3s cubic-bezier(.77,.12,.16,.95);

}
.MenuTab:hover {
	background-position: bottom;
	color: var(--TextInverted);

	transition: 0.3s cubic-bezier(.77,.12,.16,.95);
	box-shadow: var(--Borders) 0px 0px 0px 1px inset ; 

}
.MenuTab.Special:hover
{

	color: var(--SpecialText);


	box-shadow: black 0px 0px 0px 1px inset ; 
	
}
.MenuTab-noHoverAfterClick:hover {
	
	box-sizing: border-box;
	display: block;
	color: var(--Text);
	text-align: center;
	padding: 10px 45px;
	text-decoration: none;
	font-size: 1.5rem;

	
	background-size: 100% 200%;
	transition: .3s cubic-bezier(.77,.12,.16,.95);

}
.button.clicked {
	
	animation: flash 0.1s ;

	/*pointer-events: none;*/
}
@keyframes flash {
	0%	{
			box-shadow: var(--Secondary) 0px 0px 10px 10px inset ; 
			background: var(--SpecialText);
			color: var(--TextInverted);
		}

	100%{
			/*background: linear-gradient(to bottom, var(--FlashColor) 50%, var(--FlashColor) 50%) top*/
		}
}


/******************** Menut tab underline anim ***********************/
.ElementWithUnderlineAnim {
	display: block;
	position: relative;
}
.ElementWithUnderlineAnim::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: var(--Secondary);
  transform-origin: top;
  transition: transform 0.25s cubic-bezier(.77,.12,.16,.95);
}
.ElementWithUnderlineAnim.Special::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: var(--SpecialText);
  transform-origin: top;
  transition: transform 0.25s cubic-bezier(.77,.12,.16,.95);
}
.ElementWithUnderlineAnim:hover::after {
	transform: scaleX(1);
	transform-origin: bottom;
}


/******************** Index body and body.main ***********************/
body {
	background: radial-gradient(circle, rgba(var(--Radialinrgb), 0.7) 0%, rgba(var(--Radialoutrgb),0.3) 80%), linear-gradient(to bottom, rgba(var(--bgtoprgb),1) 0%, rgba(var(--bgbottomrgb), 1) 80%) top;
	
	/*background: linear-gradient(to bottom, rgba(var(--BackgroundColorrgb1),1) 50%, rgba(var(--BackgroundColorrgb2), 1) 50%) top;*/
	background-color: var(--Secondary);
	padding: 0px;
	margin: 0px;
}

#main {
	padding-top: 20vh;
	display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
	flex: 1;
}


/******************** Text Fade anim ***********************/
.fade-in {
    opacity: 0;
    transform: translateY(1vh);
    transition: opacity 0.3s cubic-bezier(.77,.12,.16,.95), transform 0.7s cubic-bezier(.77,.12,.16,.95);
}
.fade-in.show {
    opacity: 1;
    transform: translateY(0vh);
}


/******************** Footer CSS ***********************/
.footer {
	background-color: hsla(0, 76%, 45%, 0);
	backdrop-filter: blur(10px);
	/*box-shadow: var(--Border1) 0px 0px 0px 2px inset ;*/
	
	border-top-color: var(--Borders);
	border-top-width: 0.1vh;
	border-top-style: solid;

	/*background-color: var(--Secondary); */
	height: 25vh; 
	color: var(--Primary); 
	font-size: 20px;
	padding-left: 1vw;
	line-height: 0.5;
    /*flex-direction: column;*/
    justify-content: left;
    align-items: start;
}


/********************** Fonts *************************/
.tekoFont {
	font-family: "Teko", sans-serif;
}
.tiro-tamil-regular {
	font-family: "Tiro Tamil", serif;
	font-weight: 400;
	font-style: normal;
}
.tiro-tamil-regular-italic {
	font-family: "Tiro Tamil", serif;
	font-weight: 400;
	font-style: italic;
}
.tiro-devanagari-sanskrit-regular {
	font-family: "Tiro Devanagari Sanskrit", serif;
	font-weight: 400;
	font-style: normal;
}
.tiro-devanagari-sanskrit-regular-italic {
	font-family: "Tiro Devanagari Sanskrit", serif;
	font-weight: 400;
	font-style: italic;
}
.monoton-regular {
	font-family: "Monoton", sans-serif;
	font-weight: 400;
	font-style: normal;
}
.oswald-name {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}
.limelight-regular {
  font-family: "Limelight", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.aref-ruqaa-regular {
  font-family: "Aref Ruqaa", serif;
  font-weight: 400;
  font-style: normal;
}
.aref-ruqaa-bold {
  font-family: "Aref Ruqaa", serif;
  font-weight: 700;
  font-style: normal;
}
.cinzel {
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}